@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --desaturatedRed: hsl(0, 36%, 70%);
   --softRed: hsl(0, 93%, 68%);

   /* Neutral */
   --darkGrayishRed: hsl(0, 6%, 24%);

   /* Gradients */
   --firstLinearGradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
   --secondLinearGradient: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
}

html {
   font-size: 16px;
}

body {
   background: var(--firstLinearGradient);
   font-family: 'Josefin Sans', sans-serif;
   padding: 0 2rem;
}

main {
   display: flex;
   flex-direction: column;
}

header img {
   width: 7rem;
   margin: 2rem 0;
}

.hero_container {
   position: relative;
}

.hero_img {
   margin: 0 -2rem;
   width: 100vw;
}

.text_content {
   text-align: center;
}

.text_content h1 {
   color: var(--darkGrayishRed);
   font-size: 2.5rem;
   letter-spacing: .75rem;
   line-height: 2.6rem;
   margin: 4rem 0 1.5rem;
}

.text_content span {
   font-weight: 300;
   color: var(--desaturatedRed);
}

.text_content p {
   color: var(--desaturatedRed);
   font-size: .85rem;
   line-height: 1.3rem;
}

form {
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
}

form div{
   display: flex;   
   align-items: center;
   
   position: relative;
   width: 100%;
}

::placeholder {
   color:hsla(0, 36%, 70%, 0.4);
   font-family: 'Josefin Sans', sans-serif;
}

input,
button {
   height: 2.75rem;
   border: 1px solid hsla(0, 36%, 70%, 0.4);
   border-radius: 1.35rem;
}

input {
   background-color: transparent;   
   padding: 0 1.75rem;
   width: 100%;
}

input:focus {
   outline: none;
}

.hide {
   visibility: hidden;
}

button {
   background: var(--secondLinearGradient);
   border: none;
   box-shadow: 0px 15px 22px hsla(0, 36%, 70%, 0.541);
   position: absolute;
   right: 0;
   width: 3.75rem;
}

button:hover {
   box-shadow: 0px 15px 25px hsl(0, 55%, 72%);
   cursor: pointer;
   opacity: .8;
   right: -3%;
   transition: 0.3s ease-in-out;
}

.error_icon {
   position: absolute;
   right: 4.5rem;
   width: 1rem;  
}

small {
   color: var(--softRed);
   margin: .75rem 0 2.2rem 1.85rem;
}

.attribution {
   font-size: 12px;
   text-align: center;
}

.attribution a {
   color: var(--softRed);
   text-decoration: none;
}

.attribution a:hover {
   color: var(--desaturatedRed);
}