@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --desaturatedRed: hsl(0, 36%, 70%);
   --softRed: hsl(0, 93%, 68%);

   /* Neutral */
   --darkGrayishRed: hsl(0, 6%, 24%);

   /* Gradients */
   --firstLinearGradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
   --secondLinearGradient: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
}

html {
   font-size: 16px;
}

body {
   background: var(--firstLinearGradient);
   font-family: 'Josefin Sans', sans-serif;
   padding: 0 2rem;
   position: relative;
}

main {
   display: flex;
   flex-direction: column;
}

.logo_img {
   width: 7rem;
   margin: 2rem 0;
}

.desk-hero_img {
   display: none;
}

.hero_img {
   margin: 0 -2rem;
   width: 100vw;
}

.text_content {
   text-align: center;
}

.text_content h1 {
   color: var(--darkGrayishRed);
   font-size: 2.5rem;
   letter-spacing: .75rem;
   line-height: 2.6rem;
   margin: 4rem 0 1.5rem;
}

.text_content span {
   font-weight: 300;
   color: var(--desaturatedRed);
}

.text_content p {
   color: var(--desaturatedRed);
   font-size: .85rem;
   line-height: 1.3rem;
}

form {
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
}

form div {
   display: flex;
   align-items: center;

   position: relative;
   width: 100%;
}

::placeholder {
   color: hsla(0, 36%, 70%, 0.7);
   font-family: 'Josefin Sans', sans-serif;
}

input,
button {
   height: 2.75rem;
   border: 1px solid hsla(0, 36%, 70%, 0.7);
   border-radius: 1.35rem;
}

input {
   background-color: transparent;
   padding: 0 1.75rem;
   position: relative;
   width: 100%;
   z-index: -1;
}

input:focus {
   outline: none;
   background-color: transparent;
}

.hide {
   visibility: hidden;
}

button {
   background: var(--secondLinearGradient);
   border: none;
   box-shadow: 0px 15px 22px hsla(0, 36%, 70%, 0.541);
   position: absolute;
   right: 0;
   width: 3.75rem;
   z-index: 1;
}

button:hover {
   box-shadow: 0px 15px 25px hsl(0, 55%, 72%);
   cursor: pointer;
   right: -3%;
   transition: 0.3s ease-in-out;
}

.error_icon {
   position: absolute;
   right: 4.5rem;
   width: 1rem;
}

small {
   color: var(--softRed);
   margin: .75rem 0 2.2rem 1.85rem;
}

.attribution {
   font-size: 12px;
   text-align: center;
}

.attribution a {
   color: var(--softRed);
   text-decoration: none;
}

.attribution a:hover {
   color: var(--desaturatedRed);
}

@media screen and (min-width: 1020px) {

   .logo_img {
      width: 8.5rem;
      margin: 3.25rem 0;
   }

   .hero_img {
      display: none;
   }

   .desk-hero_img {
      display: block;
      position: absolute;
      right: 0;
      width: 45%;
      height: 100%;
   }

   body {
      padding: 0;
      min-height: 100vh;
   }

   main {
      width: 55%;
      padding: 0 10rem;
   }

   .main_div {
      width: 90%;
   }


   .text_content {
      text-align: left;
   }

   .text_content h1 {
      font-size: 3.5rem;
      letter-spacing: 1.1rem;
      line-height: 3.8rem;
      margin: 3.5rem 0 1.5rem;
   }

   .text_content p {
      font-size: .9rem;
      line-height: 1.6rem;
   }

   ::placeholder {
      font-size: .85rem;
   }

   input,
   button {
      height: 3.2rem;
      border-radius: 2rem;
   }

   button {
      width: 5.5rem;
   }

   footer {
      width: 55%;
   }

   .attribution {
      position: absolute;
      bottom: 0;
      left: 25%;
      transform: translate(-25%, 0);
      text-align: center;
   }
}
